body {
  background-color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;

  background-image: url("../img/posible.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding-top: 100px;
}

main {
  flex: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease;
}


/* -- Contenido de las Prepagas -- */
.acordeon {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  font-family: 'Cormorant', serif;

}

.acordeon_titulo {
  width: 100%;
  text-align: center;
  padding: 1px;
  background-color: rgb(241, 244, 245,0.8);
  color: white;
  border: none;
  font-size: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.acordeon_titulo:hover {
  background-color: #ffffff;
}

.acordeon_contenido {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background-color: rgb(241, 244, 245,0.8);
  padding: 0 15px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
}

.acordeon_contenido p {
  margin: 10px 0;
  color: #003B5C;
  font-size: 1rem;
}

.acordeon_contenido.activo {
  max-height: 1000px; 
  padding: 16px;
}


footer {
  background-color: #B6C3CC;
  width: 100%;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 0;
  left: 0;
}

footer img {
  height: 45px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-left ul li {
  margin-bottom: 5px;
  font-size: 15px;
}

.footer-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons img {
  height: 28px;
  cursor: pointer;
  transition: 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-right {
  display: flex;
  align-items: flex-end;
}

.footer-right p {
  margin: 0;
  font-size: 14px;
  text-align: right;
}

span.copyright {
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 250px;
}

